<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] PulsePanel - CustomCMS</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="background-color: #F6F4FB; color: #333333; font-family: 'Segoe UI', sans-serif;">
<header>
    <nav class="navbar">
        <div class="logo">PulsePanel</div>
        <ul class="nav-links">
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-page="/About">About</a></li>
            <li><a asp-page="/Contact">Contact</a></li>
            <li><a asp-page="/PageContent/Index">Admin</a></li>
            @if (User.Identity?.IsAuthenticated ?? false)
    {
            <li>
                <form method="post" asp-area="Identity" asp-page="/Account/Logout" class="form-inline">
                    <button type="submit" class="btn btn-link" style="color: white;">Logout</button>
                </form>
            </li>
    }
    else
    {
            <li><a style="color: white;"  href="/Identity/Account/Login">Login</a></li>
    }
        </ul>
    </nav>
</header>

<div class="container py-4">
    @RenderBody()
</div>

<footer class="text-center py-3" style="color: #888;">
    &copy; @DateTime.Now.Year - PulsePanel CMS
</footer>

@RenderSection("Scripts", required: false)


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
